* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

body {
    background-image: url("../UiImages/BG.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

/* header{
    width: 100%;
    width: 100vh;

} */

/* .mainHeader{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

/* .mainHeader nav{
    width: 24rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
/* .mainHeader nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
} */
.cards {
    padding-top: 6rem;


}

.profile {
    position: relative;
    left: 38rem;


}




h1 {
    text-align: center;
}

#slogan {
    margin-top: 3rem;

    font-size: 2rem;


}