.parent {
    height: 500px;
    background: transparent;
    border: 3px solid black;
    position: absolute;
    opacity: 0.7;

}

body {
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.int {
    display: flex;
    justify-content: center;
    background: transparent;
    opacity: 0.7;
}

.int h2 {
    opacity: 1;
    font-weight: bold;
    color: solid black;
    text-align: center;
}

.int-2 {
    height: 353px;
}

.int-3 {
    height: 110px;
}

.img-bc {
    background: transparent;
    border: 2px solid rgb(24, 8, 168);
}

@media only screen and (max-width:1042px) and (min-width:770px) {
    .parent {
        width: 80%;
    }

}

@media only screen and (max-width:764px) and (min-width:500px) {
    .parent {
        width: 80%;
    }

}

@media only screen and (max-width: 768px) {
    .parent {
        width: 100%;
    }

    .perr {
        font-size: 13.5px;
    }
}